@{
    ViewData["Title"] = "Home Page";
    var connectionStatus = ViewData["ConnectionStatus"];
    var connectionStyle = string.Empty;

    @if(connectionStatus.ToString().ToUpper() == "SUCCESSFUL")
    {
        connectionStyle = "alert alert-danger";
    }
    else
    {
        connectionStyle = "alert alert-success";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="@connectionStyle">
        @connectionStatus
    </div>
    <div class="@connectionStyle">
        <h1>CREATE YOUR DASHBOARD HERE</h1>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
